@use "../utils/mixins";

.about-us {
  @include mixins.page-grid;

  &__title {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: span 3;
    }

    @include mixins.on-desktop {
      grid-column: span 5;
    }
  }

  &__description {
    grid-column: 1 / -1;

    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;

    @include mixins.on-tablet {
      grid-column: span 3;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }
  }
}
