@use "../utils/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 56px;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: variables.$color-text-secondary;

  background-color: variables.$color-bg-button;
  outline: none;

  transition: box-shadow var(--duration-transition);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 16px 0 variables.$color-shadow-soft;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 variables.$color-shadow-medium;
  }
}
