@use "../utils/mixins";

.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  height: 200px;

  background-image: url("/assets/images/footer-bg.avif");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: cover;

  @include mixins.on-tablet {
    height: 480px;
    background-image: url("/assets/images/footer-bg-tablet.avif");
  }

  @include mixins.on-desktop {
    height: 568px;
    background-image: url("/assets/images/footer-bg-desktop.avif");
  }
}
