@use "../utils/mixins";

.header {
  background-image: url("/assets/images/header-bg.avif");
  background-position: 85% center;
  background-size: cover;

  @include mixins.on-tablet {
    background-image: url("/assets/images/header-bg-tablet.avif");
  }

  @include mixins.on-desktop {
    background-image: url("/assets/images/header-bg-desktop.avif");
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-block-end: 88px;

    @include mixins.on-tablet {
      padding-block-end: 130px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: -1.5px;

    @include mixins.on-tablet {
      font-size: 64px;
    }
  }
}
