.product {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__photo {
    width: 100%;
    height: auto;
    margin-block-end: 32px;
  }

  &__title {
    margin-block-end: 8px;
    font-size: 24px;
    font-weight: 700;
  }

  &__description {
    margin-block-end: 16px;
  }

  &__price {
    margin-block-start: auto;
    font-size: 24px;
    font-weight: 700;
  }
}
