@use "../utils/mixins";

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include mixins.on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include mixins.on-tablet {
      gap: 32px;
    }
  }
}
