$color-text-primary: #fff;
$color-text-secondary: #1d1d1d;
$color-text-input: #292929;
$color-text-placeholder: #7e7e83;
$color-border-hover: #d5d7de;
$color-bg-primary: #1d1d1d;
$color-bg-secondary: #c2c2c2;
$color-bg-button: #fff;
$color-bg-input: #f8f8fa;
$color-shadow-soft: #e8e8f066;
$color-shadow-medium: #e8e8f0a3;

:root {
  --duration-transition: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --duration-transition: 450ms;
  }
}
